export(ctglm.model)
export(ctglm.syntax)
export(ctglm.run)
export(ctglm.results)
export(merge.results)
export(ctglm.save.syntax)
export(mcarray.chains.combine)
import(ctsem)
import(reshape2)
import(ggplot2)
import(rstan)
import(shinystan)
import(doParallel)
importFrom(parallel,detectCores,makePSOCKcluster,makeForkCluster,stopCluster)
importFrom(plyr,rbind.fill)
importFrom(abind,abind)
importFrom(coda,gelman.diag,effectiveSize)
importFrom(stats,binomial,reshape,sd,time)
importFrom(utils,flush.console,write.table)
importFrom(modeest,mlv)
importFrom(psych,describe)
