importFrom(car, recode)
importFrom(plyr, rbind.fill.matrix)
importFrom(psych,dummy.code)
importFrom(xlsx,write.xlsx2)
export(asNumericIfPossible)
export(collapseMissings)
export(commonItems)
export(commonItems.percent)
export(crop)
export(fill.na)
export(make.dummies)
export(modus)
export(multiseq)
export(reinsort.col)
export(rmNA)
export(rmNAcols)
export(rmNArows)
export(set.col.type)