importFrom(xlsx,write.xlsx2)
importFrom(psych,dummy.code)
export(crop)
export(commonItems)
export(commonItems.percent)
export(fill.na)
export(modus)
export(make.dummies)
export(multiseq)
export(asNumericIfPossible)
export(rmNA)
export(rmNAcols)
export(rmNArows)
export(set.col.type)