export(get.lmer.effects)
export(get.lmer.effects.forBootMer)
#export(get.fixef)
#export(get.ranef)
#export(lmerAnova)
export(save.lmer.effects)
import(lme4)
importMethodsFrom("Matrix",diag)
importFrom("methods",show, as)
importFrom("stats",vcov)
importFrom("car",recode)
importFrom("plyr",rbind.fill)
importFrom("reshape2",melt,dcast)
importFrom("boot",boot.ci)
importFrom("stats", AIC, BIC, anova, logLik, median, na.omit, pnorm, sd, sigma, var)
