importFrom("SDMTools", wt.mean, wt.sd)
importFrom("eatPrep", set.col.type, mergeData)
importFrom("reshape2", melt, dcast)
export(eatTrend)
export(addCuts)
export(transformTo500)
export(calculateLinkErrorComponent)