importFrom("car", recode)
importFrom("gdata", write.fwf)
importFrom("plyr", rbind.fill, rbind.fill.matrix, alply)
importFrom("date", as.date)
importFrom("Hmisc", wtd.table)
importFrom("parallel", detectCores, makeCluster, clusterApply)
export(splitModels)
export(defineModel)
export(runModel)
export(getResults)
export(get.plausible)
export(get.wle)
export(get.prm)
export(get.itn)
export(get.shw)
export(get.dsc)
export(get.equ)
export(itemFromRes)
export(wleFromRes)
export(eapFromRes)
export(pvFromRes)
export(prepJack)
