importFrom("fmsb", NagelkerkeR2)
importFrom("mice", pool.scalar)
importFrom("Hmisc", hdquantile, wtd.quantile, wtd.mean, wtd.var)
importFrom("boot",  boot)
importFrom("car",  recode)
importFrom("reshape2",  melt, dcast)
importFrom("plyr",  rbind.fill)
importFrom("combinat", combn)
importFrom("miceadds", micombine.chisquare)
export(jk2.mean)
export(jk2.table)
export(jk2.quantile)
export(jk2.glm)
export(dM)
export(dT)
export(dQ)
export(dG)

