importFrom(fmsb, NagelkerkeR2)
importFrom(plyr, llply, rbind.fill.matrix)
export(jk2.mean)
export(jk2.table)
export(jk2.quantile)
export(jk2.glm)
export(jk2.mean.M)
export(jk2.table.M)
export(jk2.quantile.M)
export(jk2.glm.M)
