importFrom(fmsb, NagelkerkeR2)
export(jk2.mean)
export(jk2.table)
export(jk2.quantile)
export(jk2.glm)

S3method(summary, jk2.mean )
S3method(summary, jk2.table )
S3method(summary, jk2.quantile )
S3method(summary, jk2.glm )