# exportPattern("^[[:alpha:]]+")
export(automateModels)
export(automateConquestModel)
export(get.itn)
export(get.shw)
export(get.wle)
export(get.dsc)
export(get.plausible)
export(yen.q3)
# export(get.equ)
export(get.q3)
export(get.item.par)
export(get.person.par)
export(bi.linking)
export(sunk)
export(makeNumeric)
export(makeCodebookInput)
export(checkInput)
export(makeInputLists)
export(loadSav)
export(checkData)
export(mergeData)
export(recodeData)
export(aggregateData)
export(writeSpss)
export(crop)
export(automateDataPreparation)
export(readDaemonXlsx)
export(collapseMissings)
export(source.it.all)
export(reinsort.col)
export(long2matrix)
export(detect.suppression)
export(set.col.type)
export(rmNA)
export(rmNAcols)
export(rmNArows)
export(sortDatByNames)
export(asNumericIfPossible)
export(exploreDesign)
export(commonItems)
export(commonItems.percent)
export(checkLink)
export(dichotomize)
export(getConquestVersion)
export(get.history)
export(log2init)
export(plotDevianceChange)
export(isConverged)
export(zip2con)
export(read.txt)
export(fill.na)
export(long2symmatrix)
export(userSpecifiedList)
export(multiseq)
export(make.link.dummy)
export(modus)
export(cat.pbc)
export(get.latent.corr)
export(compareModels)
export(make.dummies)
