# exportPattern("^[[:alpha:]]+")
export(automateModels)
export(automateConquestModel)
export(get.itn)
export(get.shw)
export(get.wle)
export(get.dsc)
export(get.plausible)
export(yen.q3)
# export(get.equ)
export(get.q3)
# export(get.item.par)
# export(get.person.par)
export(bi.linking)
export(sunk)
export(makeNumeric)
export(makeCodebookInput)
export(checkInput)
export(makeInputLists)
export(loadSav)
export(checkData)
export(mergeData)
export(recodeData)
export(aggregateData)
export(writeSpss)
export(crop)
export(automateDataPreparation)
export(readDaemonXlsx)
export(collapseMissings)
export(source.it.all)
export(source.it.all2)
export(prepare.package)
export(reinsort.col)
export(long2matrix)
export(detect.suppression)
export(set.col.type)
export(rmNA)
export(rmNAcols)
export(rmNArows)
export(sortDfrByNames)
export(asNumericIfPossible)
export(exploreDesign)
export(commonItems)
export(checkLink)
export(dichotomize)
export(getConquestVersion)
export(get.history)
export(log2init)
